<header class="navbar-light header-sticky">
  <!-- Logo Nav START -->
  <nav class="navbar navbar-expand-xl">
    <div class="container">
      <!-- Logo START -->
      <a class="navbar-brand" href="index.html">
        <!-- <img
          class="light-mode-item navbar-brand-item"
          src="assets/images/logo.svg"
          alt="logo"
        /> -->
        <img
          class="dark-mode-item navbar-brand-item"
          src="assets/images/logo-light.svg"
          alt="logo"
        />
      </a>
      <!-- Logo END -->

      <!-- Responsive navbar toggler -->
      <button
        class="navbar-toggler ms-auto mx-3 p-0 p-sm-2"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-animation">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>


<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-10 text-center mx-auto">
        <!-- Image -->
        <img
          src="assets/images/element/error.svg"
          class="h-lg-500px mb-4"
          alt=""
        />
        <!-- Title -->
        <h1 class="display-1 text-primary mb-0">404</h1>
        <!-- Subtitle -->
        <h2>Oh no, something went wrong!</h2>
        <!-- info -->
        <p class="mb-4">
          Either something went wrong or this page doesn't exist anymore.
        </p>
        <!-- Button -->
        <a href="index.html" class="btn btn-light mb-0">Take me to Homepage</a>
      </div>
    </div>
  </div>
</section>
